<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/popup.css">
    <script src="../../libs/bugsnag-2.min.js"></script>
    <script src="../../libs/jquery-2.1.1.min.js"></script>
    <script src="../../libs/jquery.blockUI.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../libs/knockout.js" type="text/javascript"></script>
    <script src="../../libs/rx.all.js" type="text/javascript"></script>
    <script src="../../libs/rx.dom.js" type="text/javascript"></script>
    
    <script src="../popup.js"></script>
</head>
<body style="width: 360px">
  <div id='popupLi' class="container">
    <div class="row pull-right">
      <p class="text-muted" style="margin-right: 8px"><small>License: <span data-bind="text: licenseDescription"></span></small></p>  
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>Export Type</strong></h6> 
      </div>    
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button id="full_export" class='btn-sm btn-group-justified' data-bind="enable: hasLicense, css: buttonStatus, click: ">Full Export</button>
      </div>
      <div class="col-xs-6">
        <button id="lite_export" class="btn-sm btn-primary btn-group-justified">Lite Export</button>
      </div>
    </div>
   <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>History</strong></h6> 
      </div>    
    </div>
    <div class="row">
      <div class="col-xs-6" style="margin-top: 4px">
        <!--<div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <span>50 of 100</span>
          </div>
        </div>-->
      <div id="slider">
        <input class="bar" type="range" min="0" max="100" value="50"/>
      </div>
        
      </div>
      <div class="col-xs-6">
        <div class="container">
            <button id="resume_export" class="btn-primary">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>

            <button id="download_transitional_results" class="btn-primary">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </button>

            <button id="delete_session" class="btn-danger">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>

        </div>

      </div>   
    </div>
    <div class="row"> </div>
    <div class="row">
        <table class="table">
          <th><small>Today Parsed Contacts</small></th>
          <th><small>All Parsed Contacts</small></th>
          <tr class="info">
            <td align="center">{{popup.stat.dayCounter}}</td>
            <td align="center">{{popup.stat.contactsCounter}}</td>
          </tr>
        </table>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>Daily Limit</strong></h6> 
      </div> 
      <div class="col-xs-12 text-center">
        <p><strong>{{popup.maxContacts}}</strong></p>
      </div>  
    </div>
  </div>
</body>
</html>
