<!doctype html>
<html ng-app="options">
  <head>
    <title>LinkedIn Export Tool Settings</title>
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
    
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">

    <script src="../libs/jquery-2.1.1.min.js"></script>
    <script src="../libs/underscore.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../libs/angular.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/exporter.js"></script>
    <script src="../app/helpers.js"></script>
    <script src="../app/logger.js"></script>
    <script src="../app/licence.js"></script>
    <script src="../app/profile.js"></script>
    <script src="../options.js"></script>
  </head>
  <body>

    <div class="container" ng-controller="optionsController as options">
      <div class="page-header" ng-cloak>
        <h1><span class="glyphicon glyphicon-cog"></span>   LinkedIn Export Tool Settings</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <h3>Export File Format</h3>
          </div>
          <div class="row">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button id="xml_exporttype" type="button" ng-class="['btn', options.fileType.hasAdditionalSettings?'btn-default' :'btn-primary']" ng-click="options.exportFormatClicked('XML')">XML</button>
              </div>
              <div class="btn-group">
                <button id="csv_exporttype" type="button" ng-class="['btn', options.fileType.hasAdditionalSettings?'btn-primary' :'btn-default']" ng-click="options.exportFormatClicked('CSV')">CSV</button>
              </div>
            </div>
            <div ng-show='options.fileType.hasAdditionalSettings'>
              <h3>Separator</h3>
              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <button type="button" ng-class="['btn', (options.fileType.settings.separator === ';')? 'btn-primary': 'btn-default']" ng-click="options.exportFormatSeparatorClicked(';')"><strong>;</strong></button>
                </div>
                <div class="btn-group">
                  <button type="button" ng-class="['btn', (options.fileType.settings.separator === ',')? 'btn-primary': 'btn-default']" ng-click="options.exportFormatSeparatorClicked(',')"><strong>,</strong></button>
                </div>
                <div class="btn-group">
                  <button type="button" ng-class="['btn', (options.fileType.settings.separator === '|')? 'btn-primary': 'btn-default']" ng-click="options.exportFormatSeparatorClicked('|')"><strong>|</strong></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <h3>Sessions</h3>
          </div>
          <div class="row">               
              <label for="max_pages_per_day" class="control-label">Max Contacts Per Day</label>
              <div class="input-group">
                <input type="number" name="max_pages_per_day" ng-model="options.maxContacts" min="-1" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-danger" id="save_limits" ng-click="options.saveMaxContacts()">Save</button>
                </span>
              </div>              
          </div>     
        </div>
      </div>
      <div ng-show="options.historySessions.length > 0" class="row">
        <hr>
      </div>
      <div ng-show="options.historySessions.length > 0" class="row">
        <div class="panel panel-primary">
          <div class="panel-heading"><strong>History</strong></div>
          <div class="panel-body">
             <!-- Table -->
              <table class="table">
                <th>Date</th>
                <th>Progress</th>
                <th> </th>
                <tr ng-repeat="session in options.historySessions">
                  <td width="20%">{{session.date}}</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{options.calculateSessionProgress(session.results.length,session.members.length)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : (options.calculateSessionProgress(session.results.length,session.members.length)).toString() + '%' }" >
                        <span ng-if="session.results.length > 0">{{session.results.length}} of {{session.members.length + session.results.length}}</span>
                      </div>
                    </div>
                  </td>
                  <td width="10%">
                    <button class="btn-sm btn-primary" id="download_transitional_results" ng-click="options.downloadResults(session.results)"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>

                    <button class="btn-sm btn-danger" id="delete_session" ng-click="options.removeResults(session)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  </td>
                </tr>
              </table>
          </div>
        </div>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>Export Statistic</strong></div>
            <div class="panel-body">
               <!-- Table -->
                <table class="table">
                  <th>Today Exported</th>
                  <th>All Exported</th>
                  <tr>
                    <td>{{options.stat.dayCounter}}</td>
                    <td>{{options.stat.contactsCounter}}</td>
                  </tr>
                </table>
            </div>
          </div>
      </div>
      <div class="row">
        <hr>
      </div>
  </body>
  <script src="../app/analitycs.js"></script>
  <footer class="footer">
      <div class="container">
        <div class="col-md-12 text-center">
          <p class="text-muted">&copy; Alexander Bobreshov</p>
        </div>        
      </div>
  </footer>
</html>

