<!doctype html>
<html ng-app="exportPopup">
<head>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <script src="../libs/jquery-2.1.1.min.js"></script>
    <script src="../libs/underscore.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/angular.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/exporter.js"></script>
    <script src="../app/helpers.js"></script>
    <script src="../app/logger.js"></script>
    <script src="../app/licence.js"></script>    
    <script src="../app/profile.js"></script>
    <script src="../popup.js"></script>
</head>
<body style="width: 360px">
  <div class="container" ng-controller="popupController as popup" ng-cloak>
<!--    <div class="row">
      <hr>    
    </div>  -->
    <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>Export Type</strong></h6> 
      </div>    
    </div>
   <div class="row">
      <div class="col-xs-6">
        <button id="full_export" ng-disabled="!(popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0)" class="btn-sm  btn-group-justified" ng-class="{'btn-primary': (popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0), 'btn-default': (!(popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0))}" ng-click="popup.exportClicked('doExport')">Full Export</button>
      </div>
      <div class="col-xs-6">
        <button id="lite_export" class="btn-sm btn-primary btn-group-justified" ng-click="popup.exportClicked('doLiteExport')">Lite Export</button>
      </div>
    </div>
   <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>History</strong></h6> 
      </div>    
    </div>
    <div class="row" ng-repeat="session in popup.historySessions">
      <div class="col-xs-6">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{popup.calculateSessionProgress(session.results.length,session.members.length)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : (popup.calculateSessionProgress(session.results.length,session.members.length)).toString() + '%' }">
            <span ng-if="session.results.length > 0">{{session.results.length}} of {{session.members.length + session.results.length}}</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="container">
            <button id="resume_export" class="btn-sm" ng-class="{'btn-primary': (popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0), 'btn-default': (!(popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0))}" ng-disabled="!(popup.stat.dayCounter < popup.maxContacts || popup.maxContacts <= 0)" ng-click="popup.resumeDownload(session)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>

            </button>

            <button id="download_transitional_results" class="btn-sm btn-primary" ng-click="popup.downloadSession(session)">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            </button>

            <button id="delete_session" class="btn-sm btn-danger" ng-click="popup.removeSession(session)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

        </div>

      </div>   
    </div>
    <div class="row">
        <table class="table">
          <th><small>Today Parsed Contacts</small></th>
          <th><small>All Parsed Contacts</small></th>
          <tr class="info">
            <td align="center">{{popup.stat.dayCounter}}</td>
            <td align="center">{{popup.stat.contactsCounter}}</td>
          </tr>
        </table>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h6 align="center"><strong>Daily Limit</strong></h6> 
      </div> 
      <div class="col-xs-12 text-center">
        <p><strong>{{popup.maxContacts}}</strong></p>
      </div>  
    </div>
  </div>
</body>
<script src="../app/analitycs.js"></script>
</html>
