.ext_ProgressBox {
    background-color: white;
    border-top: 1px solid #D3D3D3;
    font: 700 12px arial;
    line-height: 30px;
    z-index: 20000;
    width: 300px;
    top: 70px;
    text-align: center;
    position: fixed;
    margin-left: -150px;
    left: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12)
}

div.ext_ExportBox {
    height: 96px;
    padding: 10px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    background-color: #ECECEC !important;
    border-top: 1px solid #CDCDCD !important;
}

button.ext_PauseButton {
    height: 26px;
    width: 75px;
}

div.ext_info {
    clear: both;
    overflow: hidden;
}


div.ext_ExportBox > div {
    padding-top: 12px;
    position: absolute;
    bottom: 6px;
    right: 115px;
}